/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
/* GOOGLE FONTS ENDS */

/* COLORS */
:root{
  --white: #fff;
  --magicblue: #232F3E;
  --orange: #FF9900;
  --dark-orange: #e08600;
}
/* COLORS ENDS */

/* RESET */

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* RESET ENDS */

/* DEFAULT */

.pages{
  text-decoration: none;
  color: var(--white);
  transition: 0.2s ease-in-out;
}

.pages:hover{
  color: var(--orange);
}

button{
  padding: 0.5rem 1rem;
  
  font-family: inherit;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  
  background-color: inherit;
  border: 1px hidden;
  
  cursor: pointer;
  
  transition: 0.1s ease-in-out;
}

.primary-button{
  border: 2px solid var(--orange);
  background-color: var(--orange);
  border-radius: 10px;
  color: var(--magicblue);
}

.primary-button:hover{
  background-color: var(--orange);
  border-radius: 10px;
  color: var(--white);
}

.secondary-button{
  border: 2px solid var(--orange);
  border-radius: 10px;
}

.secondary-button:hover{
  border: 2px solid var(--orange);
  background-color: var(--orange);
}

section{
  padding: 1rem 5vw;
}

.label h1{
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

/* DEFAULT ENDS */

/* BODY */

body{
  font-family: 'Montserrat', serif;
}

/* BODY ENDS */

/* NAVIGATION BAR */

.myOwnNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 1rem 5vw;
}

.myOwnNav .text-logo{
  font-size: 28px;
  color: var(--white);
  font-weight: 600;
  cursor: default;
}

.myOwnNav .big-screen-nav{
  cursor: defalut;
}

.myOwnNav li{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myOwnNav .pages{
  padding: 0.75rem;
  font-size: 18px;
}

.myOwnNav button{
  margin: 0 0.5rem;
}

.myOwnNav .small-screen-nav i{
  font-size: 28px;
  color: white;
}

/* MEDIA QUERY */
@media screen and (min-width: 850px){
  .myOwnNav .small-screen-nav{
    display: none;
  }
}

@media screen and (max-width: 850px){
  .myOwnNav .big-screen-nav{
    display: none;
  }
}

/* NAVIGATION BAR ENDS */

/* HERO */

.hero{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-weight: bolder;
  
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1511556532299-8f662fc26c06?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTQ4NTI5MTQ&ixlib=rb-1.2.1&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero svg{
  cursor: pointer;
}

/* HERO ENDS */


/* BROWSING HISTORY */

.browsing-history{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ITEM */

.item{
  text-align: center;
  margin: 1rem;
}

.item .item-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  
  transition: 0.2s ease-in-out;
}

.item .item-image:hover{
  filter: brightness(70%);
  cursor: pointer;
}

/* ITEM ENDS */

/* BROWSING HISTORY ENDS */

/* FOOTER */

.footer{
  background-color: var(--magicblue);
}

.footer .footer-text{
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

.links{
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.links ul{
  margin: 0.5rem;
}

.links li{
  list-style: none;
}

.links li h1{
  cursor: default;
  font-size: 16px;
}

.links li a{
  font-size: 12px;
  cursor: pointer;
}

/* FOOTER ENDS */